.nav-container{
  background-color: black;
  display: flex;
  justify-content: space-between;
  color: white;
  width: 800px;
  margin: auto;
  font-size: 25px;
  padding: 20px;
  border-radius: 10px;
  align-items: center;
}
.nav-center{
  display: flex;
  gap: 20px;
  width: 300px;
}
button{
  background-color: aqua;
  border-radius: 20px;
  padding: 10px;
  cursor: pointer;
}
